@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/gray-hsl.min.css";
@import "https://unpkg.com/open-props/purple-hsl.min.css";
@import "https://unpkg.com/open-props/choco-hsl.min.css";

/* light mode by default */

.about,
.links {
    margin: 3rem 0 2rem 0;
}

.additional-resources {
    margin-top: 2.5rem;
}

.additional-resources a,
.additional-resources a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #e58006;
}

body.wolff-body .additional-resources ul {
    padding-left: 2rem;
}

.additional-resources li {
    list-style: square;
    margin-top: 1rem;
}

.article-header {
    margin-bottom: var(--size-fluid-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-header h1 {
    font-weight: normal;
}

.article-list {
    display: flex;
}

.article-list li {
    background: black;
    border: 5px solid #e1d8ce;
    width: 700px;
    height: 150px;
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    padding: var(--size-fluid-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-list li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

body.wolff-body .about h1,
body.wolff-body .links h2 {
    font-weight: bold;
    text-align: center;
}

body.wolff-body .links h2 {
    margin-bottom: 1rem;
}

body.wolff-body p {
    font-size: 1.1rem;
    line-height: calc(1.2em + 0.5rem);
}

body.wolff-body ol,
body.wolff-body ul {
    list-style: none;
    padding: inherit;
}

@media only screen and (min-width: 1200px) {
    .about h1 {
        text-align: inherit;
    }
}

.bio {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.bio li {
    margin-right: 2rem;
    list-style: none;
}

body.wolff-body {
    font-family: Verdana, Geneva, sans-serif;
    max-width: 960px;
    padding: 2rem 1rem;
}

body.wolff-body h2,
body.wolff-body h3 {
    font-size: 1rem;
    border-bottom: none;
}

body.wolff-body h2 {
    font-weight: normal;
}

body.wolff-body figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.wolff-body figure img {
    max-width: 300px;
}

@media only screen and (min-width: 1200px) {
    body.wolff-body figure {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 0;
    }
}

body.wolff-body figcaption {
    font-style: italic;
}

@media only screen and (min-width: 1200px) {
    body.wolff-body figcaption {
        margin-left: 4rem;
        display: flex;
        align-self: center;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1200px) {
    body.wolff-body .description h2 {
        font-weight: bold;
    }
}

.corporate-speak p {
    line-height: 1.8rem;
    margin-top: 1rem;
}

@media only screen and (min-width: 1200px) {
    .corporate-speak p {
        padding: 0 1rem;
    }
}

footer {
    position: sticky;
    top: 100%;
    margin-top: 1rem;
    z-index: 10;
    text-align: center;
}

.wolff-body h1,
.wolff-body h2,
.wolff-body h3 {
    border-bottom: none;
}

.wolff-body h3 {
    margin-bottom: 1.3rem;
}

header.wolff-header {
    background: #000000;
    color: #faf6f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 a,
header h1 a:hover {
    color: #faf6f0;
    text-decoration: none;
}

header,
main {
    display: flex;
    justify-content: center;
}

icon {
    font-size: 1.3rem;
}

.intro {
    text-align: center;
}

main {
    background: #f4eae0;
    border: 5px solid #f4dfc8;
    border-radius: var(--radius-2);
    padding: var(--size-fluid-2) var(--size-fluid-3);
    box-shadow: var(--shadow-2);
}

.my-skills {
    margin-top: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #ee7f04;
}

nav a:hover {
    color: #000;
}

@media only screen and (min-width: 1200px) {
    .skills {
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.post-list a {
    text-decoration: none;
}

.post-list .post-item {
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    padding: var(--size-fluid-3);
    background: gainsboro;
    color: black;
    display: flex;
    text-decoration: none;
    /* padding: 2rem; */
    justify-content: center;
}

.post-list .post-item:hover {
    color: var(--nc-lk-2);
}

.post-title {
    font-weight: normal;
    margin-bottom: 1rem;
}

.published {
    border-bottom: 1px solid #cdbba8;
    padding-bottom: 0.5rem;
}

.rss {
    color: #d13838;
    font-style: italic;
    text-decoration: none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body.wolff-body {
        background: #343a40;
        color: #000;
    }

    body.wolff-body h2,
    body.wolff-body h3 {
        color: black;
    }

    footer {
        color: #fff;
    }

    header.wolff-header {
        background: #212529;
    }
}
